**a.** Načetla jsem soubory csv ze stránek kodim.cz a spojila načtené soubory do jednoho.

In [9]:
import pandas

jmena = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/jmena.csv")
s1 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/studenti1.csv")
s2 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/studenti2.csv")

In [10]:
all = pandas.concat([s1,s2])
all

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
135   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
136    Lukáš          Čech  informatika a management     5.0   NaN      1.59
137   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
138    Ivana    Macháčková        webové inženýrství     1.0   NaN      2.92
139  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[345 rows x 6 columns]

In [22]:
all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 345 entries, 0 to 139
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   jméno     345 non-null    object
 1   příjmení  345 non-null    object
 2   obor      345 non-null    object
 3   ročník    312 non-null    float64
 4   kruh      318 non-null    float64
 5   prospěch  345 non-null    float64
dtypes: float64(3), object(3)
memory usage: 18.9+ KB

**b.** Pokud studentovi chybí ročník, znamená to, že již nestuduje. Pokud mu chybí číslo skupiny, znamená to, že jde o dálkového studenta. Kolik studentů v datovém setu již nestuduje a kolik jsou dálkoví studenti?

In [15]:
all[all["ročník"].isnull()].shape

(33, 6)

33 studentu jiz nestuduje

In [16]:
all[all["kruh"].isnull()].shape

(27, 6)

27 studentu jsou dalkovi studenti

**c.** Kolik studentu jsou dalkovi a zaroven nestuduji, aneb chybi jim jak rocnik, tak kruh?

In [17]:
all[(all["ročník"].isnull()) & (all["kruh"].isnull())].shape

(2, 6)

2 studenti jsou zaroven dalkovi  a jiz nestuduji

**d.** Kolik dalkovych studentu studuje obor číslicová technika?

In [19]:
all[(all["kruh"].isnull()) & (all["obor"] == "číslicová technika")].shape

(7, 6)

7 studentu jsou dalkovi a zaroven studuji obor číslicová technika

**e.** Dále jsem vyčistila data od studentů, kteří nestudují nebo studují jen dálkově. V tabulce jsou nově pouze prezenční studenti.

In [21]:
aktualni_prezencni_studenti = all.dropna(subset=["ročník", "kruh"])
aktualni_prezencni_studenti

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
133    Klára     Valentová         správa IT systémů     1.0  11.0      1.10
134    Pavla     Veverková        počítačová grafika     4.0   6.0      2.98
135   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
137   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
139  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[287 rows x 6 columns]